<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<script id="supervisor-summary-template" type="text/html">
  <table id="supervisor-summary-table">
    <thead>
      <tr>
        <th>
          <span class="tip right" title="The name given to the topology by when it was submitted.">
            Name
          </span>
        </th>
        <th>
          <span class="tip right" title="The unique ID given to a Topology each time it is launched.">
            Id
          </span>
        </th>
        <th>
          <span class="tip above" title="The user that submitted the Topology, if authentication is enabled.">
            Owner
          </span>
        </th>
        <th>
          <span class="tip above" title="The status can be one of ACTIVE, INACTIVE, KILLED, or REBALANCING.">
            Status
          </span>
        </th>
        <th>
          <span class="tip above" title="The time since the Topology was submitted.">
            Uptime
          </span>
        </th>
        <th>
          <span class="tip above" title="The number of Workers (processes).">
            Num workers
          </span>
        </th>
        <th>
          <span class="tip above" title="Executors are threads in a Worker process.">
            Num executors
          </span>
        </th>
        <th>
          <span class="tip above" title="A Task is an instance of a Bolt or Spout. The number of Tasks is almost always equal to the number of Executors.">
            Num tasks
          </span>
        </th>
        <th>
          <span class="tip left" title="This shows information from the scheduler about the latest attempt to schedule the Topology on the cluster.">
            Scheduler Info
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{id}}</td>
        <td>{{owner}}</td>
        <td>{{status}}</td>
        <td>{{uptime}}</td>
        <td>{{workersTotal}}</td>
        <td>{{executorsTotal}}</td>
        <td>{{tasksTotal}}</td>
        <td>{{schedulerInfo}}</td>
      </tr>
    </tbody>
  </table>
</script>
<script id="workers-summary-template" type="text/html">
  <h2>Executors ({{windowHint}})</h2>
  <table class="zebra-striped" id="workers-summary-table">
    <thead>
      <tr>
        <th class="header headerSortDown">
          <span class="tip right" title="The unique executor ID.">
            Id
          </span>
        </th>
        <th class="header">
          <span class="tip right" title="The length of time an Executor (thread) has been alive.">
            Uptime
          </span>
        </th>
        <th class="header">
          <span class="tip above" title="The hostname reported by the remote host. (Note that this hostname is not the result of a reverse lookup at the Nimbus node.)">
            Host
          </span>
        </th>
        <th class="header">
          <span data-original-title="The port number used by the Worker to which an Executor is assigned. Click on the port number to open the logviewer page for this Worker." class="tip above">
            Port
          </span>
        </th>
        <th class="header">
          <span data-original-title="The number of Tuples emitted." class="tip above">
            Emitted
          </span>
        </th>
        <th class="header">
          <span class="tip above" title="The number of Tuples emitted that sent to one or more bolts.">
            Transferred
          </span>
        </th>
        <th class="header">
          <span class="tip above" title="The average time a Tuple &quot;tree&quot; takes to be completely processed by the Topology. A value of 0 is expected if no acking is done.">
            Complete latency (ms)
          </span>
        </th>
        <th class="header">
          <span class="tip above" title="The number of Tuple &quot;trees&quot; successfully processed. A value of 0 is expected if no acking is done.">
            Acked
          </span>
        </th>
        <th class="header">
          <span data-original-title="The number of Tuple &quot;trees&quot; that were explicitly failed or timed out before acking was completed. A value of 0 is expected if no acking is done." class="tip left">
            Failed
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#executorStats}}
      <tr>
        <td>{{id}}</td>
        <td>{{uptime}}</td>
        <td>{{host}}</td>
        <td><a href="{{workerLogLink}}">{{port}}</a></td>
        <td>{{emitted}}</td>
        <td>{{transferred}}</td>
        <td>{{completeLatency}}</td>
        <td>{{acked}}</td>
        <td>{{failed}}</td>
      </tr>
      {{/executorStats}}
    </tbody>
  </table>
</script>
